body{
    background-image: linear-gradient(45deg,#B6C1D4,#EC68B1);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
}

main section{
    display: flex;
    justify-content: center;
}

main section form h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

main section #formulario-cliente label{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

main section #formulario-cliente{
    background-image: linear-gradient(45deg,#239FE9,#44D5F3);
    background-repeat: no-repeat;
    border-radius: 0.25rem;
    padding: 1.0rem;
    width: 500px;
}

main section #formulario-cliente .name-field{
    display: grid;
    padding: 0.5rem;
}

main section #formulario-cliente .name-field input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .birth-date-field{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0.5rem;
}

main section #formulario-cliente .birth-date-field input{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}    

main section #formulario-cliente .city-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .city-field select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .city-field input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #costumer-city-field{
    transition: .3s all ease;
}

main section #formulario-cliente .license-field{
    display: flex;
    text-align: center;
}

main section #formulario-cliente .license-field input{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .phone-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .phone-field input{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .phone-field img{
    vertical-align: middle;
    cursor: pointer;
}

main section #formulario-cliente .email-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .email-field img{
    vertical-align: middle;
    cursor: pointer;
}

main section #formulario-cliente .email-field input{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .costumer-sponsor{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .costumer-sponsor input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


