*{
    margin: 0;
}
body{
    box-sizing: border-box;
    width: 100%;
    background-color: #574b90;
}

header{
    text-align: center;
    background-color: #f2f2f2;
    box-shadow: 0 1px 5px rgb(182 182 182 / 30%);
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav img{
    height: 80px;
    width: 150px;
}

header nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #574b90;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: .5s;
}

header nav a:hover{
    background-color: #574b90;
    color: white;
}

header nav .links{
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
}

main{
    margin-top: 5rem;
}

main section{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

main section form h1{
    text-align: center;
    color: #574b90;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

main section form th{
    text-align: center;
    color: #574b90;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

main section #formulario-cliente label{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #574b90;
}

main section #formulario-cliente{
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    padding: 1.0rem;
    width: 500px;
}

main section #formulario-cliente .name-field{
    display: grid;
    padding: 0.5rem;
}

main section #formulario-cliente .name-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .birth-date-field{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0.5rem;
}

main section #formulario-cliente .birth-date-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}    

main section #formulario-cliente .city-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .city-field select{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .city-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #costumer-city-field{
    transition: .3s all ease;
}

main section #formulario-cliente .license-field{
    display: flex;
    text-align: center;
}

main section #formulario-cliente .license-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#license-field-id{
    opacity: 0;
    transition: all .5s;
}

main section #formulario-cliente .phone-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .phone-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

#phone-number-2, #phone-number-3 , #phone-number-4{
    opacity: 0;
    transition: all .5s;
}

main section #formulario-cliente .email-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .email-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

#email-2, #email-3{
    opacity: 0;
    transition: all .5s;
}

main section #formulario-cliente .costumer-sponsor{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .costumer-sponsor input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#constumer-sponsor-id{
    opacity: 0;
    transition: all .5s;
}

main section #formulario-cliente .center {
    display: flex;
    justify-content: center;
}

main section #formulario-cliente button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    background-color: rgb(36, 203, 36);
    padding: 1rem;
    margin: 8px 0;
    border: 1px solid #574b90;;
    border-radius: 0.5rem;
    text-align: center;
    transition: .5s;
}

main section #formulario-cliente button:hover{
    background-color: rgb(45, 255, 45);
    color: black;
}

main section #datatable{
    display: table;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    border-spacing: 0 0.5rem;
    border-radius: 1rem;
}

main section #datatable th{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 1rem;
    color: black;
}

main section #datatable tbody tr{
    background-color: whitesmoke;
    color: black;
    opacity: 0.8;
    font-weight: 600;
}

main section #datatable tbody tr:hover{
    background-color: lightgreen;
    opacity: 1;
}

main section #datatable td{
    padding: 1rem;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    text-align: center;
    background-color: #f2f2f2;
    box-shadow: 0 1px 5px rgb(182 182 182 / 30%);
}

footer hr{
    background-color: gray;
    color: gray;
}

footer span{
    color: black;
}

footer div{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
}