*{
    margin: 0;
}

body{
    box-sizing: border-box;
    width: 100%;
    background-color: #574b90;
}

header{
    text-align: center;
    background-color: #f2f2f2;
    box-shadow: 0 1px 5px rgb(182 182 182 / 30%);
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav img{
    height: 80px;
    width: 150px;
}

header nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #574b90;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.5s;
}

header nav a:hover{
    background-color: #574b90;
    color: white;
}

header nav a:focus{
    outline: none;
    background-color: #574b90;
    color: white;
}

header nav .links{
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
}

main section{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

main section form h1{
    text-align: center;
    color: #574b90;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

main section form th{
    text-align: center;
    color: #574b90;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

main section #formulario-cliente label{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #574b90;
}

main section #formulario-cliente{
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    padding: 1.0rem;
    width: 500px;
    overflow-x: auto;
}

main section #formulario-cliente .name-field{
    display: grid;
    padding: 0.5rem;
}

main section #formulario-cliente .name-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .birth-date-field{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0.5rem;
}

main section #formulario-cliente .birth-date-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}    

main section #formulario-cliente .city-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .city-field select{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .city-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#costumer-city-field.show{
    display: grid;
}

.license-field.show{
    display: flex;
    text-align: center;
}

main section #formulario-cliente .license-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente table{
    border-spacing: 0 0.5rem;
}

main section #formulario-cliente .phone-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .phone-field img{
    cursor: pointer;
}

main section #formulario-cliente .phone-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

main section #formulario-cliente .email-field{
    display: grid;
    text-align: center;
}

main section #formulario-cliente .email-field img{
    cursor: pointer;
}

main section #formulario-cliente .email-field input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.costumer-sponsor.show{
    text-align: center;
    background-color: transparent;
}

main section #formulario-cliente .costumer-sponsor input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main section #formulario-cliente .center {
    display: flex;
    justify-content: center;
}

main section #formulario-cliente button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    background-color: rgb(36, 203, 36);
    padding: 1rem;
    margin: 8px 0;
    border: 1px solid #574b90;;
    border-radius: 0.5rem;
    text-align: center;
    transition: all 0.5s;
}

main section #formulario-cliente div{
    margin-top: 1rem;
}

main section #formulario-cliente button:hover{
    cursor: pointer;
    background-color: rgb(45, 255, 45);
    color: black;
}

main section #formulario-cliente button:focus{
    outline: none;
    cursor: pointer;
    background-color: rgb(45, 255, 45);
    color: black;
}

footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    max-width:  400px;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    color: black;
}

footer div{
    display: flex;
    justify-content: space-evenly;
}

.show{
    transition: background-color 1000ms linear;
    opacity: 1;
    background-color: transparent;
}

.hide{
    background-color: rgb(36, 203, 36);
    position: fixed;
    opacity: 0;
    top: -1000px;
}

@media (max-width: 800px)
{

    header nav{
        flex-wrap: wrap;
        height: 100px;
    }

    header nav img{
        width: 75px;
        height: 40px;
    }

}

@media (max-width: 400px)
{

    header nav{
        height: 90px;
    }

    main section #formulario-cliente{
        max-width: -webkit-fill-available;
        padding: 0%;
        margin-left: 5px;
        margin-right: 5px;
    }

    footer{
        max-width: 320px;
    }

    footer div{
        flex-direction: column;
    }

}

@media (max-width: 320px)
{
    main section #formulario-cliente{
        margin: 0;
    }
    
}