*{
    margin: 0;
}

body{
    box-sizing: border-box;
    width: 100%;
    background-color: #574b90;
}

header{
    text-align: center;
    background-color: #f2f2f2;
    box-shadow: 0 1px 5px rgb(182 182 182 / 30%);
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav img{
    height: 80px;
    width: 150px;
}

header nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #574b90;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.5s;
}

header nav a:hover{
    background-color: #574b90;
    color: white;
}

header nav .links{
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
}

main section{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

main section #datatable{
    display: inline-block;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-spacing: 0 0.5rem;
    border-radius: 0.5rem;
    margin-left: 50px;
    margin-right: 50px;
    overflow: auto;
}

main section #datatable th{
    font-weight: 700;
    padding: 1rem;
    color: black;
}

main section #datatable tbody tr{
    background-color: rgb(230, 230, 230);
    color: black;
    opacity: 0.8;
    font-weight: 600;
    transition: all .5s ease-out;
}

main section #datatable tbody tr:hover{
    background-color: lightgreen;
    opacity: 1;
}

main section #datatable td{
    padding: 1rem;
}

footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    max-width:  400px;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: black;
}

footer div{
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 800px)
{

    header nav{
        flex-wrap: wrap;
        height: 100px;
    }

    header nav img{
        width: 75px;
        height: 40px;
    }

}

@media (max-width: 400px)
{

    header nav{
        height: 90px;
    }

    footer{
        max-width: 320px;
    }

    footer div{
        flex-direction: column;
    }

}